{
    "extends": [
      "airbnb"
    ],
    "plugins": [
      "react"
    ],
    "parser": "babel-eslint",
    "env": {
      "es6": true,
      "browser": true,
      "jest/globals": true
    },
    "rules": {
      "no-trailing-spaces": "error"
    }
  }
  