{
  "plugins": ["node", "mocha"],
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "browser": false,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "destructuring": true,
      "spread": true,
      "restParams": true
    }
  },
  "rules": {
    "no-trailing-spaces" :"error"
  }
}
